#content {
    background: #fff;
    margin-top:1px;
}

#messages {
    height: 100vh;
    overflow-y: auto;
}

.message {
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 8px;
    margin: 10px;
}

.author {
    font-weight: bold;
}

.date {
    margin-left: 30px;
    font-style: italic;
}

#new-message {
    margin-bottom: 15px;    
}

.jumbotron-fluid {
    background-image:url('./img/tortuga.jpg');
    height: 300px;
    object-fit: scale-down;
    background-position: center;
}

.lead, .display-4{
    color: white;
    font-weight: bold;
}

.hashtag {
    margin-left: 10px;
}

.btn {
    background-color:#47CBFB
}

.twitter-nav {
    background-color: #47CBFB
}